*.prj
*.log
*.mlx
*.html
*.asv
*.nc
*.txt
*.pdf
*.mat
*.csv
*.tif
src/loop_cubes*
src/lut/
measured/*
output/*
/input/sensors_george.xlsx
src/~$Input_data*.xlsx
src/Input_data*.xlsx
src/boundaries.csv
lut/
synthetic/
src/gpr.m
src/+models/RTMo_lite_c.m
src/clumping/
src/synergy_loop.m
src/loop_eu_global.m
src/main_sat_fun_lut.m
src/main_sat_fun_lut.m
src/app2.mlapp
src/vi.m
